<header class="app-header">
  <div class="logo-container">
    <img src="/logo.svg" alt="Phoenix Logo" >
    <span>Phoenix Encounter</span>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/encounters" routerLinkActive="active">All Encounters</a></li>
      <li><a routerLink="/encounters/new" routerLinkActive="active">Add New</a></li>
      <!-- Prevent the default anchor behavior and call the logout method -->
      <a href="javascript:void(0)" (click)="logout()">Logout</a>
    </ul>
  </nav>
</header>
